{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ url('create_address') }}">Добавить адрес</a>
    <table>
        {% for address in addresses %}
            <tr>
                <td>{{ address.address }}</td>
                <td>{{ address.coordinate }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
