{% extends 'base.html.twig' %}

{% block body %}
    <a
            class="btn btn-primary"
            href="{{ url('create_address') }}"
    >Добавить адрес</a>
    <table class="table mt-4">
        <tr>
            <th>Адрес</th>
            <th>Координаты</th>
        </tr>
        {% for address in addresses %}
            <tr>
                <td>{{ address.address }}</td>
                <td>{{ address.coordinate }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
